/* Defaults */
body {
    background:url("../img/crossed_stripes.png");
}
.colorblind {
    background: #D8D8D8;
}
.table {
    color: #ba2a20;
}
.table-head>tr>th {
    color: #ba2a20;
}
.table-body>tr:nth-child(even) {
    background:#3A3A3A;
}
.table-body>tr>td {
    color: #A74141;
}
#login {
    color: #A32828;
}
a {
    color: #ba2a20;
}
.well {
    color:white;
}